<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  id = "com.phonegap.cipmobilewriter"
  version = "1.3381">

  <name>Mobile Writer</name>

  <description>Mobile Integration Report Writer</description>

  <author href="http://www.cipreporting.com" email="jriffel@cipreporting.com">Jason Riffel</author>

  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="android-installLocation" value="auto" />
  <icon src="icon.png" />
</widget>
